@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #2f4858;
    --cor1: #44c061;
    --cor2: #00ab7b;
    --cor3: #007a85;
    --preto: #000000;
    --branco: #FFFFFF;
       
}

.menu-acessibilidade{
    position: fixed;
    top:3rem;
    right:20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}

.apresenta-lista{
    display: none;
}

.alto-contraste {
    background-color: var(#000000);
    color: var(#FFFFFF);
}

.alto-contraste header,
.alto-contraste .formulario {
    background-color: var(#000000);
    color: var(#FFFFFF);
}

.alto-contraste .nav-link {
    color: var(#00ab7b);
}

.alto-contraste .carrossel__titulo {
    color: var(#FFFFFF);
}

.alto-contraste footer,
.alto-contraste .botao-inicio,
.alto-contraste .formulario button {
    background-color: var(#007a85);
    color: var(#000000);
}

.alto-contraste .btn-primary {
    background-color: var(00ab7b);
    color: var(#FFFFFF);
}

.alto-contraste #escola {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(#000000);
}
